$brown1: #F9EFD2;
$brown2: #EFCB5D;
$brown3: #D3A83A;
$brown4: #A68429;
$brown5: #79601C;
$brown6: #3D300A;

$green1: #E8FFD6;
$green2: #8CD257;
$green3: #69BB39;
$green4: #52932A;
$green5: #3B6C1C;
$green6: #1D370A;

$red1: #FFD7DE;
$red2: #D14E66;
$red3: #BA2837;
$red4: #921D29;
$red5: #6A131E;
$red6: #36050F;

$blue1: #E3E4FF;
$blue2: #4446A5;
$blue3: #1B2292;
$blue4: #0F1573;
$blue5: #060C54;
$blue6: #020229;

$other1: #EFEFEF;
$other2: #E6E6E6;
$other3: #666699;
$other4: #996666;

$button__login: #4192E1;

$font: 'Source Sans Pro', sans-serif
